.destaques
  position relative
  z-index 3
  height 30vw
  box-shadow 0 1px 7px 1px rgba(0, 0, 0, .35), 0 2px 20px 3px rgba(0, 0, 0, .15)

  > div
    position-absolute()
    grid(cells-align: 'stretch')
    width 100%
    height 100%

  .produto
    background-color $color-grey
    background-size cover
    overflow hidden
    position absolute
    width 33.333%
    height 100%
    z-index 1

    &[data-col='1']
      left 0

    &[data-col='2']
      left 33.333%
      width 33.334%

    &[data-col='3']
      left 66.666%

    &::before
      content ''
      position-absolute()
      box-shadow inset 0 0 5vw rgba(0, 0, 0, .1)

    img
      display none

  for n in 'produtos-diversos' 'corpete-vermelho' 'sexy-hot-sensation' 'vibradores-personal-e-ponto-g' 'a-sos-excitee-e-gulosa' 'a-sos-velas-e-sexy-gourmet' 'calcinhas-com-ziper' 'a-sos-sensacoes' 'toque-do-cupido-e-dados' 'conjunto-preto-com-renda-e-joia' 'a-sos-perfumes-feromonios' 'tenga-masturbadores'
    .produto.{n}
      background-image url('images/produtos/' + n + '.jpg')