<template name="destaques">
  <section class="destaques">
    <div>
      <picture data-col="1" class="produto produtos-diversos">
        <img src="images/produtos/produtos-diversos.jpg" alt="Vasta linha de produtos eróticos">
      </picture>

      <picture data-col="2" class="produto corpete-vermelho">
        <img src="images/produtos/corpete-vermelho.jpg" alt="Corpete vermelho muito sensual e provocante">
      </picture>

      <picture data-col="3" class="produto sexy-hot-sensation">
        <img src="images/produtos/sexy-hot-sensation.jpg" alt="Linha Sexy Hot de cosméticos funcionais">
      </picture>

      <picture data-col="1" class="produto vibradores-personal-e-ponto-g">
        <img src="images/produtos/vibradores-personal-e-ponto-g.jpg" alt="Vibradores variados no clássico modelo 'Personal' e também no inovador modelo 'Ponto G'">
      </picture>

      <picture data-col="2" class="produto a-sos-excitee-e-gulosa">
        <img src="images/produtos/a-sos-excitee-e-gulosa.jpg" alt="Linha de comestíveis e funcionais da A Sós">
      </picture>

      <picture data-col="3" class="produto a-sos-velas-e-sexy-gourmet">
        <img src="images/produtos/a-sos-velas-e-sexy-gourmet.jpg" alt="Produtos diferenciados A Sós como velas comestíveis e bolinas excitantes">
      </picture>

      <picture data-col="1" class="produto calcinhas-com-ziper">
        <img src="images/produtos/calcinhas-com-ziper.jpg" alt="Provoque mais usando calcinhas com zíper muito sensuais">
      </picture>

      <picture data-col="2" class="produto a-sos-sensacoes">
        <img src="images/produtos/a-sos-sensacoes.jpg" alt="Linha A Sós Sensações para impulsionar os sentidos esquentando, esfriando ou ambos">
      </picture>

      <picture data-col="3" class="produto toque-do-cupido-e-dados">
        <img src="images/produtos/toque-do-cupido-e-dados.jpg" alt="Também oferecemos produtos somente para eles e somente para elas">
      </picture>

      <picture data-col="1" class="produto conjunto-preto-com-renda-e-joia">
        <img src="images/produtos/conjunto-preto-com-renda-e-joia.jpg" alt="Lindos conjuntos de várias cores, modelos e tamanhos">
      </picture>

      <picture data-col="2" class="produto a-sos-perfumes-feromonios">
        <img src="images/produtos/a-sos-perfumes-feromonios.jpg" alt="Perfumes com feromônios da A Sós, para exalar um aroma provocante ao sexo oposto">
      </picture>

      <picture data-col="3" class="produto tenga-masturbadores">
        <img src="images/produtos/tenga-masturbadores.jpg" alt="Produtos modernos para o prazer masculino pela masturbação sozinho ou acompanhado">
      </picture>
    </div>
  </section>
</template>