<template name="index">
  {{> destaques}}

  <main>
    <section class="introducao">
      <div class="frases">
        <p>Apimente sua relação</p>
        <p>Inove, ouse e experimente novas sensações</p>
        <p>Sinta mais prazer, só ou acompanhado</p>
      </div>

      <div class="categorias">
        <p>Oferecemos grande variedade de produtos:</p>

        <ul>
          <li>Moda Sensual</li>
          <li>Fantasias Eróticas</li>
          <li>Cosméticos Funcionais e Comestíveis</li>
          <li>Próteses, Plugs, Anéis Penianos e Extensores</li>
          <li>Vibradores e Masturbadores</li>
          <li>Acessórios para Fetiches e Sado</li>
          <li>Pompoarismo</li>
        </ul>
      </div>
    </section>

    <section class="social">
      <ul>
        <li class="facebook"><a href="http://www.facebook.com/redbutterfly.com.br/" target="_blank" title="Curta nossa página no Facebook">/<em>redbutterfly</em>.com.br</a></li>
        <li class="instagram"><a href="http://instagram.com/redbutterfly.com.br/" target="_blank" title="Visite nosso Instagram">/<em>redbutterfly</em>.com.br</a></li>
        <li class="whatsapp"><a href="tel:16981065930" title="Ligue ou mande um WhatsApp">(16) 9<em>8106</em>-<em>5930</em></a></li>
        <li class="email"><a href="mailto:joice@redbutterfly.com.br" title="Envie um e-mail"><em>joice</em>@redbutterfly.com.br</a></li>
      </ul>
    </section>

    <section class="informacoes">
      {{> contato}}

      <div class="mapa">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3714.1701822759223!2d-48.513691127599174!3d-21.422554827967936!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94b93bd62e15d8f9%3A0x94c0bd1a31c80436!2sRed+Butterfly!5e0!3m2!1spt-BR!2sbr!4v1447364696929" width="400" height="300" frameborder="0" style="border: 0" allowfullscreen></iframe>
      </div>
    </section>
  </main>
</template>